@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
* {
  box-sizing: border-box;
  margin: 0;
}

#root {
  display: flex;
  height: 100%;

}
/* main {
  display: flex;
  flex-direction: c;
} */

main {
  width: 100%;
}